<!DOCTYPE HTML>
<html>
	<head>
		<title>Werner Family Recipes</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="../../assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="../../assets/css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="../../assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="../../assets/css/ie8.css" /><![endif]-->
		<link rel="icon" sizes="192x192" href="../../../generator/templates/images/touch/chrome-touch-icon-192x192.png">
		<link rel="apple-touch-icon" href="../../../generator/templates/images/touch/apple-touch-icon.png">
	</head>
	<body>
		<!-- Wrapper -->
			<div id="wrapper">
				<!-- Header -->
					<header id="header">
						<div class="inner">

							<!-- Nav -->
								<nav>
									<ul>
										<li><a href="#menu" id="menuButton">Menu</a></li>
									</ul>
								</nav>

						</div>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<h2>Menu</h2>
			            <MENU_LINKS_GO_HERE>
					</nav>

				<!-- Main -->
					<div id="main">
						<div class="inner">
							
						<h2><RECIPE_NAME_GOES_HERE></h2>

						<RECIPE_ORIGIN_GOES_HERE>

						<div class="row">


                    		<div class="6u 12u$(medium)">

								<h4>Ingredients</h4>
								
								<RECIPE_INGREDIENTS_GO_HERE>

							</div>

                    		<div class="6u 12u$(medium)">

								<h4>Directions</h4>

								<RECIPE_DIRECTIONS_GO_HERE>

							</div>

						</div>

						<RECIPE_WINE_PAIRING_GOES_HERE>

						<RECIPE_NOTES_GO_HERE>

						</div>

						<SCALING_BUTTON_GOES_HERE>

					</div>
				<!-- Footer -->
					<footer id="footer">
						<div class="inner">
							<ul class="copyright">
								<li>All recipes subject to cooking skill</li><li><a href="mailto:jeremy@jerwerner.com?subject=Recipes Inquiry">Contact the Administrator</a></li>
							</ul>
						</div>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="../../assets/js/jquery.min.js"></script>
			<script src="../../assets/js/skel.min.js"></script>
			<script src="../../assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="../../assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="../../assets/js/main.js"></script>
			<script src="../../assets/js/recipeScaling.js">
  			</script>
	</body>
</html>